{% extends 'base.html' %}
{% load static %}
{% block body %}
  <section class="content-contact">
      <h3 class="content-item">Contact me on</h3>
        <table class ="content-item" >
                <tr class="content-table">
                  <td ><img src="{% static 'images/gmaillogo.png' %}" class="content-logo"></img></td>
                  <td>amaliahanisafitri@gmail.com</td>
                </tr>
                <tr class="content-table">
                  <td><img src="{% static 'images/facebook(1).svg' %}" class="content-logo"></img></td>
                  <td>facebook.com/amelia.han.902</td>
                </tr>
                <tr class="content-table">
                  <td><img src="{% static 'images/social-instagram-new-circle-512.png' %}" class="content-logo"></img></td>
                  <td>instagram.com/_amelhf</td>
                </tr>
                <tr class="content-table">
                  <td><img src="{% static 'images/whatsapp-512.png' %}" class="content-logo"></img></td>
                  <td>+6283150263683</td>
                </tr>
              </table>        
  </section>
  {% endblock %}