{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="activity">
        <h3>My Activity</h3>
        <table >
                <tr>
                  <th>Activity</th>
                  <th>Category</th>
                  <!-- <th>Day</th> -->
                  <th>Date</th>
                  <th>Time</th>
                  <th></th>
                </tr>
                <tr>
                {% for i in data %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.hour}}</td>
                    <td><a href="{% url 'delete_activity' pk=i.pk %}"> <button class="btn btn-danger"> Delete</button></a></td>
                </tr>
                {% endfor %}
              </table>


</div>
{% endblock %}