{% extends 'base.html' %}
{% load static %}
{% block body %}
  <section class="content-profile">
        <div class="container">
                <div class="row">
                  <div class="col">
                    <img src="{% static 'images/Amalia Hanisafitri new.jpg' %}" class="content-item" id="ppprofile" alt="Profile Photo"></img>
                    <h3 class="content-item1" id="content1">Profile</h3>
                    <p class="content-item1">Motivated student who demonstrates discipline and creative ability. I am accustomed to working in a challenging and fast-paced environment.</p>
                  </div>
                  <div class="col-8">
                    <h3>Formal Education</h3>
                    <table >
                            <tr>
                              <td>Universitas Indonesia</td>
                              <td>2018 - now</td>
                            </tr>
                            <tr>
                              <td>SMA Negeri 1 Kota Banjarbaru</td>
                              <td>2016 - 2018</td>
                            </tr>
                            <tr>
                              <td>SMA Negeri 1 Kota Banjarmasin</td>
                              <td>2015 - 2016</td>
                            </tr>
                            <tr>
                              <td>SMP Negeri 5 Kota Bogor</td>
                              <td>2012 - 2015</td>
                            </tr>
                            <tr>
                              <td>SD Negeri Gunung Gede</td>
                              <td>2008 - 2012</td>
                            </tr>
                            <tr>
                              <td>SD Sekolah Alam Bogor</td>
                              <td>2006 - 2008</td>
                            </tr>
                          </table>
                    <h3>Informal Education</h3>
                    <table >
                            <tr>
                              <td>LBPP LIA Bogor</td>
                              <td>2013 - 2014</td>
                            </tr>
                            <tr>
                                <td>TBI Bogor</td>
                              <td>2011 - 2012</td>
                            </tr>
                          </table>
                    <h3>Organization/Comitee Experience</h3>
                    <ul>
                        <li class="list-org">Public Relation dan Partnership Staff of BETIS (Belajar Gratis) 2019</li>
                        <li class="list-org">Media Partnership Staff of  COMPFEST 11 ( The Biggest IT Event held by students in Indonesia)</li>
                        <li >Public Relation, Publication, and Documentation Staff of Pambakal UI 2019</li>
                    </ul>
                  </div>
                </div>
        </div>
  </section>
  {% endblock %}